
.game-container {
    background: black;
    height: 90%;
}

.chat-container {
    height: 5%;
}

#game {
    position:relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#game canvas {
    display: block;
    margin:0 auto;

    /* VALIGN */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#game-side {
    height: 100%;
    position: relative;
}

#game-players-container {
    margin-top:5%;
    height: 20%;
    overflow-y: auto;
}

#game-players {
    margin: 5px 0;
}

#game-log-container {
    height: 40%;
    overflow-y: auto;
}

#game-log {
    margin: 5px 0;
}

#game-items-container {
    margin-top:5%;
    height: 20%;
    overflow-y: auto;
}

#game-items {
    margin: 5px 0;
}

.list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
}